<div class='container-fluid' [style.background-image]="'url(' + '/assets/imgs/fondos/reciclado_arrugado_azul.png' + ')'">
  <div id='jamedia' class='animated bounceInDown'>
    <header>
      <div><h1>JAMedia <small>Radio</small></h1></div>
      <section id='player_widget'>
        <legend id='player_legend'>Detenido.</legend>
        <audio id='audioplayer' preload=none autoplay=none
          (playing)='inplay($event)' (pause)='inpause($event)'>
        <source src>
        Este navegador no puede reproducir este streaming.
        </audio>
        <section id='controls'>
          <button id='btnplay' type=button class="btn btn-default btn-xs" aria-hidden=true
              (click)='pause_play()'>
            <i class="fa fa-play"></i>
          </button>
          <input id='volwidget' type=range name=vol min=0 max=100 value=50 (change)='setvolumen($event)'>
        </section>
      </section>
    </header>

    <main id='radiobox'>
      <div class='item-list' #b1
          data='http://media-ice.musicradio.com/CapitalUKMP3' (click)='select_item(b1)'>
        <img src="/assets/imgs/paises/bretania.png" alt="">
        <label>Capital TV (Reino Unido)</label>
      </div>
      <div class='item-list' #a1
          data='http://main-office.rautemusik.fm' (click)='select_item(a1)'>
        <img src="/assets/imgs/paises/alemania.png" alt="">
        <label>RauteMusik JaM (Alemania)</label>
      </div>
      <div class='item-list' #c1
          data='http://listen.radionomy.com/one-love-hip-hop-radio' (click)='select_item(c1)'>
        <img src="/assets/imgs/paises/colombia.png" alt="">
        <label>One Love Hip Hop Radio (Colombia)</label>
      </div>
    </main>
  </div>

  <figure>
    <img id='logo' src='/assets/imgs/jamedia/jamedia.png' alt="Logo de JAMedia">
  </figure>

</div>
