<div class="container" [style.background-image]="'url(' + '../../assets/imgs/fondos/04.png' + ')'">
  <h1 class='animated bounceInDown'>Flavio Danesse</h1>
  <!--https://www.npmjs.com/package/angular-font-awesome-->
  <h3 class='animated bounceInLeft'><i class="fa fa-envelope-square"></i> fdanesse@gmail.com <a href='https://www.linkedin.com/in/flavio-danesse-6575b719/' target='_blank'>
    <i class="fa fa-linkedin"></i></a>
    <a href='https://www.youtube.com/channel/UCRLDhEFG908uY-53h39CvWw' target='_blank'><i class="fa fa-youtube-square"></i></a>
  </h3>
  <div class="divider animated bounceInRight"></div>
  <nav class='animated bounceInUp'>
    <a routerLink='/curriculum'>Currículum</a>
    <a routerLink='/portafolios'>Portafolios</a>
  </nav>
  <div class="divider animated bounceInLeft"></div>
  <nav class='animated bounceInUp secundarios'>
    <a href="https://pythonjoven-c1888.firebaseapp.com" target="_blank">python_joven</a>
    <a routerLink='/guias'>Guías</a>
    <a routerLink='/videocursos'>Video Cursos</a>
  </nav>
</div>
