<div class="container" [style.background-image]="'url(' + '../../assets/imgs/fondos/04.png' + ')'">
  <h1>Flavio Danesse</h1>
  <!--https://www.npmjs.com/package/angular-font-awesome-->
  <h3><i class="fa fa-envelope-square"></i> fdanesse@gmail.com <a href='https://www.linkedin.com/in/flavio-danesse-6575b719/' target='_blank'>
    <i class="fa fa-linkedin"></i></a>
    <a href='https://www.youtube.com/channel/UCRLDhEFG908uY-53h39CvWw' target='_blank'><i class="fa fa-youtube-square"></i></a>
  </h3>
  <div class="divider"></div>
  <nav>
    <a routerLink='/curriculum'>Currículum</a>
    <a routerLink='/portfolio'>Portafolios</a>
  </nav>
</div>
