
<div id='camisetas' class='hidden-sm-down'>
  <img src="./assets/imgs/python_joven/image3.png">
  <img src="./assets/imgs/python_joven/image1.png">
  <img src="./assets/imgs/python_joven/image2.png">
</div>

<div id='home_button'><a routerLink='/home'><i class="fa fa-home fa-2x"></i></a></div>

<!--
<link rel="stylesheet" href="./assets/libs/Swiper/css/swiper.min.css">
  <script src="./assets/libs/Swiper/js/swiper.min.js"></script>
  <script src="index.js"></script>
-->

<div class='container-fluid'>
<header class="row" [style.background-image]="'url(' + './assets/imgs/python_joven/header.png' + ')'">

  <div id="header_1" class="col-md-3">
    <div>
      <h1>python_joven</h1>
      <h3>#uruguay 2009 - 2014</h3>
    </div>

    <div class="swiper-container">
      <figure class="swiper-wrapper">
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/01.png' + ')'">
        <!--
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/02.png' + ')'">
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/03.png' + ')'">
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/04.png' + ')'">
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/05.png' + ')'">
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/06.png' + ')'">
        <img class="swiper-slide" [style.background-image]="'url(' + './assets/imgs/python_joven/07.png' + ')'">
        -->
      </figure>
    </div>

  </div>

  <div id="header_2" class="col-md-9">
    <div>
      <h1>Descripción:</h1>
    </div>
    <div>
      <hr>
      <p>
        Comunidad uruguaya de jóvenes entusiastas de la programación, unidos en torno a python y el software libre, buscando llegar lo más lejos posible en el aprendizaje sobre el desarrollo de software.
      <br>
        Compartimos el conocimiento adquirido brindando oportunidades de aprendizaje a aquellos jóvenes que estén dispuestos a dedicar su tiempo a esta tarea.
      </p>
      <hr>
    </div>
  </div>

</header>

<main class="row">
		<section id="code-in" class="col-md-3">
			<h1>Destacados</h1>
			<div id="code_in_flex">
			<figure>
			    <img class="premiados" src="./assets/imgs/python_joven/Agustin_Zubiaga.png">
          <figcaption><img class="fa fa-spin" src="./assets/imgs/python_joven/og-image.png">
            Agustín Zubiaga<br>
            <a href="https://www.google-melange.com/archive/gci/2012" target="_blank">(google code-in 2012)</a>
          </figcaption>
			</figure>
			<figure>
			    <img class="premiados" src="./assets/imgs/python_joven/Ignacio_Rodriguez.png">
          <figcaption><img class="fa fa-spin" src="./assets/imgs/python_joven/og-image.png">
            Ignacio Rodriguez<br>(google code-in
            <a href="https://www.google-melange.com/archive/gci/2013" target="_blank">2013</a> y
            <a href="https://www.google-melange.com/archive/gci/2014" target="_blank">2014</a>)
          </figcaption>
			</figure>
			<figure>
			    <img class="premiados" src="./assets/imgs/python_joven/Ezequiel_Pereyra.png">
          <figcaption><img class="fa fa-spin" src="./assets/imgs/python_joven/og-image.png">
            Ezequiel Pereyra<br>
            <a href="https://codein.withgoogle.com/archive/2015/" target="_blank">(google code-in 2015)</a>
          </figcaption>
			</figure>
			<figure>
			    <img class="premiados" src="./assets/imgs/python_joven/Cristian_Garcia.png">
          <figcaption><img class="fa fa-spin" src="./assets/imgs/python_joven/og-image.png">
            Cristian García<br>
            <a href="https://codein.withgoogle.com/archive/2016/" target="_blank">(google code-in 2016)</a>
          </figcaption>
      </figure>
      </div>
		</section>

		<section id="contenido" class="col-md-9">
			<ul>
				<h3>Antecedentes:</h3>
				<li><a href="info_python_joven/rap_ceibal_san_jose_2008.html" target="_blank">Despliegue Ceibal 2008</a></li>
				<hr>
				<h3>Origen:</h3>
				<li><a href="info_python_joven/python_joven_2009_2010.html" target="_blank">Orígenes 2009 - 2010</a></li>
				<li><a href="info_python_joven/squeak_fest_2011.html" target="_blank">SqueakFest - 2011</a></li>
				<li><a href="info_python_joven/pyconar_2011.html" target="_blank">Sugar Day - pyconar 2011</a></li>
				<hr>
				<h3>Desarrollo:</h3>
				<li><a href="info_python_joven/mayo_2012.html" target="_blank">Mayo 2012</a></li>
				<li><a href="info_python_joven/junio_2012.html" target="_blank">Junio 2012</a></li>
				<li><a href="info_python_joven/agosto_2012.html" target="_blank">Agosto 2012</a></li>
				<li><a href="info_python_joven/setiembre_2012.html" target="_blank">Setiembre 2012</a></li>
				<li><a href="info_python_joven/diciembre_2012.html" target="_blank">Diciembre 2012</a></li>
				<hr>
				<h3>Consolidación:</h3>
				<li><a href="info_python_joven/varias_2013.html" target="_blank">Varias 2013</a></li>
				<li><a href="info_python_joven/marzo_2013.html" target="_blank">Marzo 2013</a></li>
				<li><a href="info_python_joven/Antel_Avanza_2013.html" target="_blank">ANTEL Avanzá 2013</a></li>
				<li><a href="info_python_joven/Febrero_2014.html" target="_blank">Febrero 2014</a></li>
				<li><a href="info_python_joven/chia_2014.html" target="_blank">Chia - Colombia_2014</a></li>
				<li><a href="info_python_joven/SugarCamp_Chia_2014.html" target="_blank">Sugar Camp - Chia - Colombia 2014</a></li>
				<li><a href="info_python_joven/tayrona_2014.html" target="_blank">Cabo San Juan - Colombia 2014</a></li>
        <hr>
        <h3>Cierre:</h3>
				<li><a href="info_python_joven/Diciembre_2014.html" target="_blank">Diciembre 2014</a></li>
				<li><a href="info_python_joven/Agosto_2015.html" target="_blank">Agosto 2015</a></li>
				<hr>
				<!--
				<li><a href="https://www.youtube.com/watch?v=jzyJ_iDxZi4&list=PLSXO-7teGEyg20exxaM3jBWuTS6P2ZC40&index=6" target="_blank">Agustin Zubiaga Imaginación 3.0 en Expo Aprende Ceibal 2013</a></li>
				-->
			</ul>

		</section>

</main>

<footer>
  <p>Copyright &copy; 2009-{{copyrigth}} Flavio Danesse Todos los derechos reservados.</p>
</footer>

</div>
