@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*/

html {
	background-color: black;
	font-family: 'Bree Serif', serif;
	font-size: 10pt;
	color:white;
	text-align: center;
}

body, .container-fluid, main {
	background-color: rgba(56, 52, 78, 1);
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 1.4em;
}
h3 {
	font-size: 0.8em;
}

hr {
  color: white;
  background-color: White;
}

a, a:link, a:visited, a:active, a:focus {
	color: cyan;
	text-decoration: none;
}

a:hover {
	color: orange;
}

header {
  height: auto;
	/*background-image: url('./assets/imgs/python_joven/header.png');*/
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* IZQUIERDA */
#header_1 {
	background-color: rgba(0, 0, 0, 0.6);
}
#header_1 h1, #header_1 h3 {
	margin-top: 15px;
	margin-bottom: 15px;
  color:cyan;
  text-align: center;
}
.swiper-container {
  margin:auto;
	margin-top: 50px;
}
.swiper-wrapper, .swiper-slide {
  width: 220px;
  height: 220px;
  margin:auto;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* DERECHA */
#header_2 {
	color: white;
	padding-top: 20px;
	padding-bottom: 16px;
	background-color: rgba(0, 0, 0, 0.3);
}
#header_2 h1 {
	font-size: 3.2em;
}
#header_2 h1, #header_2 hr, #header_2 p {
	margin: 10px;
	text-align: left;
	font-family: 'Tangerine', cursive;
}
#header_2 p {
	font-size: 2.4em;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	column-count: 3;
	column-gap: 10px;
}



#code-in {
	background-color: white;
	color: black;
}
#code-in h1 {
  margin: auto;
	margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#code_in_flex {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#code_in_flex figure {
	margin: auto;
	padding: 0;
}

#code_in_flex figcaption {
  color: black;
	/*width: 245px;
	margin: auto;*/
	margin-bottom: 15px;
	padding: 5px;
	font-size: 0.8em;
	text-align: center;
}

figcaption a, figcaption a:link, figcaption a:visited, figcaption a:active, figcaption a:focus {
	color: blue;
	text-decoration: none;
}

figcaption a:hover {
	color: orangered;
}

.premiados {
	max-width: 205px;
	max-height: 205px;
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	border: 0.15em black solid;
	-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
}

.fa-spin {
	width: 15px;
	height: auto;
}

#contenido {
	color: white;
	padding: 10px;
	margin:0;
	background-color: rgba(56, 52, 78, 1);
	border: none !important;
	text-align: left;
}

li {
  font-size: 0.8em;
}

footer {
  width: 100% !important;
	background-color: black;
	color: white;
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
  padding: 5px;
  margin: 0 !important;
}

#camisetas {
	display: block;
	clear:both;
	max-width: 190px;
  max-height: 70px;
  padding: 5px;
  margin: auto;
	position: absolute;
	z-index: 3;
  background-color: rgba(0, 255, 255, 0.3);
  border: 0.01em rgba(0, 255, 255, 1) solid;
	border-radius: 8px;
  overflow: hidden;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;

	-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
	top: 15px;
  right: 15px;
}

#camisetas img {
  width: 60px;
  height: 60px;
}

#home_button {
	float:left;
	margin: 0.4em;
	position: absolute;
	z-index: 1;
}

.fa-home:hover {
  cursor: pointer;
  color: orangered;
  text-shadow: 0.025em 0.025em 0.025em black !important;
}

@media (max-width: 768px) {
	#header_2 p{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
