<div class='container-fluid'>
  <div id='home_button'><a routerLink='/jamedia'><i class="fa fa-home fa-2x"></i></a></div>
  <header class='animated bounceInDown'>
    <figure [style.background-image]="'url(' + '/assets/imgs/fondos/reciclado_arrugado_azul.png' + ')'">
      <img src="/assets/imgs/jamedia/jamedia.png" alt="Logo de JAMedia">
    </figure>

    <section>
      <h1><strong>JAMedia en vala</strong></h1>
			<hr>
			<ul>
				<li>Reproduce Archivos de Audio y Video</li>
				<li>Reproduce Streamings</li>
				<li>Graba desde Streamings</li>
			</ul>
      <hr>

      <h5>Repositorio:
				<a href="https://github.com/fdanesse/jamedia-vala" target="_blank"> jamedia-vala</a>
			</h5>
			<h5>Instalador 64 bits:
				<a href="https://drive.google.com/open?id=0B8Xmp7v5rxZUMHZzdkZkWjFGNkU" target="_blank"> jamedia-vala</a>
			</h5>
    </section>

  </header>

  <main class='animated bounceInUp'>
		<section>
			<h4><strong>Bibliotecas Necesarias:</strong></h4>
			<hr>
			<ul>
				<li>vala 0.26</li>
				<li>gtk 3</li>
				<hr>
				<li>gstreamer1.0</li>
				<li>gstreamer1.0-plugins-base</li>
				<li>gstreamer1.0-plugins-good</li>
				<li>gstreamer1.0-plugins-ugly</li>
        <li>gstreamer1.0-tools</li>
        <hr>
      </ul>
		</section>

		<section>
			<h4><strong>Guia de Instalación:</strong></h4>
			<hr>
			<ul>
				<li>Descarga el instalador</li>
				<li>Ejecuta el instalador</li>
			</ul>
			<hr>
		</section>

		<section>
		<h4><strong>Para Desinstalar:</strong></h4>
      <hr>
      <ul>
				<li>Ejecuta: "sudo apt-get remove jamedia"</li>
			</ul>
		<hr>
		</section>
  </main>

</div>

