* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000;
}

#home_button {
	float: left;
	margin: 0.4em;
	position: absolute;
	z-index: 1;
}

.fa-home {
  color: cyan;
}

.fa-home:hover {
  cursor: pointer;
  color: orange;
  text-shadow: 0.025em 0.025em 0.025em black !important;
}

.container-fluid {
  margin: 0;
  padding: 5px;
	font-family: 'Josefin Slab', serif;
  font-size: 14pt;
  background-color: black;
}

header {
	width: 98%;
	height: auto;
  margin: auto;
  margin-top: 10px;
	padding: 5px;
  background-color: #778899;
	/*border: 0.01em #C5CAE9 solid;*/
	clear: both;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-justify-content: left !important;
  justify-content: left !important;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

header img {
	display: block;
	width: 260px;
	height: 260px;
	margin: auto;
}

header figure {
	display: block;
	width: 260px;
	height: 260px;
	/*margin: auto;*/
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  border: 0.01em #C5CAE9 solid;
}

header h1 {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-style: bold;
}

header h5 {
  margin-top: 5px;
	text-align: right;
}

hr {
	margin-top: 0.4em;
  margin-bottom: 0.4em;
  border: none;
  background: transparent;
  border-top: 0.09em solid #C5CAE9;
}

header section {
	margin: 0 0.5em;
}

ul {
	margin: 0.6em;
}

li {
	list-style-type: circle;
	list-style-position: inside;
}

a:hover, a:link, a:visited, a:active, a:focus{
	text-decoration: none;
	color: #000000;
	}

a:link, a:visited{
	color: cyan;
}

a:hover{
	color: orange;
  text-shadow: 0.02em 0.02em 0.02em gray,
    -0.02em -0.02em 0.02em gray,
    0.02em -0.02em 0.02em gray,
    -0.02em 0.02em 0.02em gray;
}

main {
	width: 98%;
	height: auto;
  margin: auto;
  margin-top: 10px;
	padding: 5px;
	background-color: #778899;
	/*border: 0.01em #C5CAE9 solid;*/
	clear: both;
	display: -webkit-flex;
	display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-justify-content: left !important;
  justify-content: left !important;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

main section {
  /*display: block;*/
	position: relative;
	margin: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 0.01em white solid;
	border-radius: 0.5em;
}

/* PHONE */
@media (max-width: 767px){
	header, main {
		clear: both;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
