<h1>Los test de PCR no sirven para detectar enfermedades.</h1>
<h3>Lo dijo su inventor en un conversatorio sobre SIDA con otros científicos que intentaron utilizar los PCR para detectar VIH.</h3>

<div>
  <h5>Kary B. Mullis:</h5>
  <p>
    En 1993 compartió el Premio Nobel de Química con Michael Smith, debido a la invención de la reacción en cadena de la polimerasa (PCR por sus siglas en inglés).<br>
    Una especie de fotocopiado molecular que permite copiar millones de veces un pequeño segmento de ADN.<br>
    El proceso fue descrito originalmente por Kjell Kleppe y el nobel de 1968 Har Gobind Khorana, que permite la amplificación de secuencias específicas de ADN.<br>
    Su revolucionario descubrimiento permitió leer el genoma humano, diagnosticar trastornos genéticos, identificar cadáveres y cazar a asesinos en serie por su ADN.<br>
  </p>

  <video video autobuffer controls='true' type="video/mp4"
    src="https://firebasestorage.googleapis.com/v0/b/fdanesse-f2b2c.appspot.com/o/Pandemia%2FKary%20mullis%20-%20los%20PCR%20no%20sirven.mp4?alt=media&token=52b81b0c-4d89-4d03-809c-ad799db2bead">
  </video>

  <h3>Transcripción del contenido:</h3>
  <p>
    La PCR es un proceso que se utiliza para crear mucho de algo a partir de algo. <br>
    Pero eso no te dice que estás enfermo. <br>
    Ni te dice que lo que ha resultado vaya a causarte algún daño. <br>
    No es para eso. <br>
    Como utilizaron incorrectamente la PCR para estimar estos supuestos ARN virales que podrían o no estar presentes? <br>
    No creo que se pueda utilizar incorrectamente la PCR. <br>
    La interpretación de los resultados... verás... <br>
    Si pueden encontrar este virus en ti minimamente, <br>
    y con la PCR si lo haces bien puedes encontrar casi cualquier cosa en cualquiera; <br>
    te hace comenzar a creer en la noción budista de que todo está contenido en todo lo demás... <br>
    Porque si puedes amplificar una sola molécula hasta algo que puedas realmente medir, lo cual puede hacer la PCR entonces hay muy pocas moléculas de las que no tengas al menos una en tu cuerpo. <br>
    Así que eso se podría entender como una utilización incorrecta al afirmar que eso es relevante. <br>
    Pero el auténtico mal uso es que no necesitas hacer el test para el VIH, no necesitas testear para los otros 10.000 retrovirus sin nombre que existen también en el sujeto. <br>
    Si alguien tiene VIH va a tener prácticamente cualquier otra cosa para la que puedas hacer un test. <br>
    El VIH es un virus bastante infrecuente. Solo hay 1.253.000 personas en EEUU que tienen ese virus. <br>
    Así que hay que remontarse... <br>
    O bien tu madre lo tenía y te lo pasó, o tienes que estar prestando mucha atención a la gente que lo tiene y llegar a tener una ocasión de adquirirlo de esa manera, es difícil de contraer. <br>
    Pero si lo tienes, hay una alta probabilidad de que tengas muchos otros. <br>
    Porque has estado en un ambiente propicio. <br>
    Así que hacer una prueba para ese virus en concreto y afirmar que tiene alguna relevancia es lo que yo entiendo que es un problema, no que la PCR se ha utilizado incorrectamente. <br>
    No es una estimación, es algo cuantitativo en tanto te dice algo acerca de la naturaleza de lo que se encuentra ahí, pero te permite tomar una cantidad realmente minúscula de cualquier cosa y hacerla medible y entonces hablar de ella en conferencias etc, como si fuese importante. <br>
    Eso no es tanto una utilización incorrecta sino una mala interpretación. <br>
    Incluso tras todas estas PCR cuantitativas si se reduce al nivel del conteo virológico básico, sigue siendo de 1 en 1000 a 1 en 1000... de 500 a 1 entre 1000 celulas T del VIH... <br>
    Es así. Hay muy poco de lo que llaman VIH, en lo mencionado aqui por Paul Philpott y Esai Morales. No es exacto en absoluto, no es tan bueno como nuestras mediciones de cosas como... manzanas... <br>
    Una manzana es una manzana, si consigues suficientes cosas que parecen una manzana y las pegas todas juntas puedes pensar que eso es una manzana y el VIH es como eso. <br>
    Todos estos tests están todos basados en cosas que son invisibles y los resultados son inferidos, en cierto modo. <br>
    La PCR en si misma es tan solo un proceso que se utiliza para crear mucho de algo a partir de algo. <br>
    Eso es lo que es, pero eso no te dice que estás enfermo, ni te dice que lo que ha resultado vaya a causarte algún daño, no es para eso. <br>
  </p>
</div>

<div>
  <h3>Un estudio reciente realizado por Bernard La Scola, confirma lo dicho por Kary Mullis:</h3>

  <p>
    En el siguiente video, explica este estudio el Profesor, Doctor Javier Sciuto, Médico coordinador y docente en bioestadística de la Facultad de Medicina Santa Casa de San Pablo y profesor de métodos cuantitativos en Uruguay y Brasil, especialista Señor en informaciones científicas, asesor científico en el estudio y análisis de medicamentos y vacunas.
  </p>

  <video video autobuffer controls='true' type="video/mp4"
    src="https://firebasestorage.googleapis.com/v0/b/fdanesse-f2b2c.appspot.com/o/Pandemia%2F02%20sciuto%20La%20Scola.mp4?alt=media&token=d1d69bfb-65db-4fe2-bf16-66f30b6227ca">
  </video>

  <h5><a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/fdanesse-f2b2c.appspot.com/o/Pandemia%2FBernard%20La%20Scola%20ciaa1491.pdf?alt=media&token=e8520028-29d9-40ad-9e37-81bb27e29f6f">Descargar el documento original</a></h5> 
  <h5><a target="_blank" href="https://academic.oup.com/cid/advance-article/doi/10.1093/cid/ciaa1491/5912603">Ver publicación original del documento</a></h5> 
</div>

<div>
  <h3>Otro estudio reciente sobre los "asintomáticos", realizado en la ciudad de Whuan, reconocido por la OMS, vuelve a confirmar lo anterior, además de demostrar que los "asintomáticos" no contagian:</h3>

  <h5><a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/fdanesse-f2b2c.appspot.com/o/Pandemia%2FPost-lockdown%20SARS-CoV-2%20nucleic%20acid%20screening%20in%20nearly%20ten%20million%20residents%20of%20Wuhan%2C%20China.pdf?alt=media&token=607b44b8-6978-4f3d-b64f-96c21a17168d">Descargar el documento original</a></h5> 
  <h5><a target="_blank" href="https://www.nature.com/articles/s41467-020-19802-w">Ver publicación original del documento</a></h5> 
</div>

<div>
  <h3>Declaraciones de Científicos y Especialistas:</h3>

  <h5>Pablo Goldschmidt:</h5>
  <h3>Es importante aclarar que este científico es uno de los encargados de auditar las vacunas del covid-19 para la Unión Europea y Africa del Norte.</h3>
  <p>
    Pablo Goldschmidt se graduó de Farmacéutico, Licenciado en Análisis Clínicos y Bioquímico en la Facultad de Farmacia y Bioquímica de la Universidad Nacional de Buenos Aires. En forma paralela cursó estudios en la Facultad de Filosofía y Letras de la Universidad Nacional de Buenos Aires, donde obtuvo el título de Psicólogo con orientación clínica. <br>
    En la Facultad de Medicina del centro hospitalario de la Pitié-Salpetrière de París obtuvo los diplomados de farmacocinética, farmacología clínica, neuro-psicofarmacología y farmacología de antimicrobianos. En la Université Pierre et Marie Curie París VI se doctoró en farmacología molecular. <br>
    También concluyó la formación teórica práctica de los Institutos Curie y Pasteur de París con diplomados de virología fundamental y biología molecular. <br>
    Concurrente de los servicios de microscopia electrónica, virología médica, diagnóstico Chlamydial-Rickettsial y radioinmunoensayos del Instituto Pasteur de París, trabajó en hospitales públicos y centros hospitalo-universitarios donde desarrolló desde 1981 técnicas de diagnóstico y estrategias terapéuticas innovadoras. <br>
    Entre otras instituciones académicas, Goldschmidt es profesor invitado de la UNAM (México), IOTA (Bamako, Mali), Hôpital Donka (Guinea Conakry), Centro de Formación de Oftalmólogos sin Fronteras (Kolofata y Maroua, Camerún), Al-Shifa Hospital (Universidad de Islamabad, Pakistán), Universidad Javeriana (Colombia), Universidad de Ginebra (Suiza), Universidades de Angers, Estrasburgo y París VI (Francia), Universidad de Viena (Austria), Hospital La Paz y Universidad de Madrid, IOBA y  Universidad de Valladolid (España), Universidad de  Düsseldorf (Alemania), Tongren University Hospital (Pekin), He-Institute (Shenyang, China), Seoul University Hospital (Corea), Universidades de Lisboa, Coímbra y Oporto (Portugal), Hospital de Bissau (Guinea), Universidad Tor-Vergata y Hospital Santo Spirito (Roma). <br>
    Pablo Goldschmidt es miembro activo de las comisiones de controles microbiológicos de productos de terapia celular y participó en el grupo de trabajo interdisciplinario de antibioprofilaxis de la Agencia Francesa de Seguridad Sanitaria, y es perito invitado a los Grupos de Trabajo para Prevenir la Ceguera Evitable de la Organización Mundial de la Salud (Ginebra, Suiza). <br>
  </p>

  <h5><a target="_blank" href="https://youtu.be/sNFns3e70uk">Abril 2020</a></h5>
  <h5><a target="_blank" href="https://youtu.be/Y4_q1nAp314">Setiembre 2020</a></h5>
  <h5><a target="_blank" href="https://youtu.be/10ACEQli8a8">Diciembre 2020</a></h5>
  <h5><a target="_blank" href="https://youtu.be/NHI2-gt3H00">Diciembre 2020</a></h5> 

  <h5>Maria Jose Martinez Albarracin:</h5>
  <p>Licencia en medicina y cirujía de la Universidad de Murcia y Catedrática de procesos diagnósticos clínicos.</p>

  <h5><a target="_blank" href="https://youtu.be/NHI2-gt3H00">2020</a></h5>
  <h5><a target="_blank" href="http://radiomolina.com/podcast/maria-jose-martinez-albarracin-licenciada-en-medicina-y-cirugia-por-la-universidad-de-murcia-y-catedratica-de-procesos-diagnosticos-clinicos-visitaba-radio-compania-para-aclararnos-cual-es-la-situaci/">Setiembre 2020</a></h5>

  <h5>Profesor, Doctor Javier Sciuto:</h5>

  <p> 
    Médico coordinador y docente en bioestadística de la Facultad de Medicina Santa Casa de San Pablo y profesor de métodos cuantitativos en Uruguay y Brasil.
    Especialista Señor en informaciones científicas.
    Asesor científico en el estudio y análisis de medicamentos y vacunas.
  </p>

  <h5><a target="_blank" href="https://espectador.com/bienigual/entrevistacentral/las-voces-que-no-se-escuchan">Enero 2021</a></h5>
  <h5><a target="_blank" href="https://www.youtube.com/watch?v=6bG9j2P2afo&t=7318s">Diciembre 2020</a></h5>
  
</div>