<div class='container-fluid' [style.background-image]="'url(' + '/assets/imgs/fondos/105.jpg' + ')'">
  <div class='row animated bounceInUp'>
    <a class="navbar-brand" routerLink='/home'><i class="fa fa-home fa-2x"></i></a>
    <h1><strong>PORTAFOLIOS</strong></h1>
    <h6>Flavio Danesse <i class="fa fa-envelope-square"></i> fdanesse@gmail.com <a href='https://www.linkedin.com/in/flavio-danesse-6575b719/' target='_blank'>
      <i class="fa fa-linkedin"></i></a>
      <a href='https://www.youtube.com/channel/UCRLDhEFG908uY-53h39CvWw' target='_blank'><i class="fa fa-youtube-square"></i></a>
    </h6>
  </div>

  <main>

    <section class='animated bounceInLeft'>
			<img src="/assets/imgs/jamedia/jamedia.png" alt="Logo de JAMedia">
			<h2>JAMedia</h2>
			<a routerLink='/jamedia' target="_self">
			<div class="overlay">
			<label>
				Busca videos en youtube. Reproduce audio, video y streamings de radios.
				Implementado en python, vala, java y javascript. Utilizado en toda América por OLPC.
			</label>
			</div>
			</a>
		</section>

    <section class='animated bounceInUp'>
      <img src="/assets/imgs/lectordelibros/lectordelibros.png" alt="Logo de Lector de Libros de Ceibal">
      <h2>Lector Ceibal</h2>
      <a href="http://bibliotecadigital.ceibal.edu.uy/" target="_blank">
      <div class="overlay">
      <label>
        Aplicación utilizada en Educación Primaria y Secundaria de Uruguay para acceder a su biblioteca digital.
      </label>
      </div>
      </a>
    </section>

    <section class='animated bounceInRight'>
      <img src="/assets/imgs/learnsenglish/learnsenglish.png" alt="Logo de Learns English">
      <h2>Peru Learns English</h2>
      <a href="http://pe.sugarlabs.org/ir/Peru%20Learns%20English" target="_blank">
      <div class="overlay">
      <label>
        Sistema de aprendizaje de inglés utilizado en el sistema educativo de Peru.
      </label>
      </div>
      </a>
    </section>

    <!--http://activities.sugarlabs.org/es-ES/sugar/addon/4766-->

    <section class='animated bounceInLeft'>
      <img src="/assets/imgs/jamtank/big.png" alt="Logo de JAMTank">
      <h2>JAMTank</h2>
      <a href='http://activities.sugarlabs.org/es-ES/sugar/addon/4364' target="_self">
      <div class="overlay">
      <label>
        Juego Multiplayer de batalla de tanques. Utilizado en toda América por OLPC.
      </label>
      </div>
      </a>
    </section>

    <!--https://sites.google.com/site/sugaractivities/JAMTank  http://activities.sugarlabs.org/es-ES/sugar/addon/4364-->

    <section class='animated bounceInUp'>
      <img src="/assets/imgs/bichos/big.png" alt="Logo de Bichos">
      <h2>Bichos</h2>
      <a href='http://activities.sugarlabs.org/es-ES/sugar/addon/4370' target="_self">
      <div class="overlay">
      <label>
        Juego Educativo sobre los Insectos. Utilizado en toda América por OLPC.
      </label>
      </div>
      </a>
    </section>

    <!--http://activities.sugarlabs.org/es-ES/sugar/addon/4370-->

    <section class='animated bounceInRight'>
      <img src="/assets/imgs/derechoatransitar/derechoatransitar.png" alt="Logo de Derecho a Transitar">
      <h2>Derecho a Transitar</h2>
      <a href="http://activities.sugarlabs.org/es-ES/sugar/addon/4485" target="_blank">
      <div class="overlay">
      <label>
        Juego educativo sobre las normas de tránsito, desarrollado para la fundación Gonchi Rodriguez.
        Utilizado en toda América por OLPC.
      </label>
      </div>
      </a>
    </section>

    <section class='animated bounceInLeft'>
      <img src="/assets/imgs/screencast/screencast.png" alt="Logo de Screencast">
      <h2>Screencast</h2>
      <a href="http://wiki.sugarlabs.org/go/Activities/Screencast" target="_blank">
      <div class="overlay">
      <label>
        Grabador de escritorio desarrollado para el sistema educativo de Australia.
      </label>
      </div>
      </a>
    </section>

    <section class='animated bounceInUp'>
      <img src="/assets/imgs/jamexplorer/jamexplorer.png" alt="Logo de JAMexplorer">
      <h2>JAMexplorer</h2>
      <a href="https://activities.sugarlabs.org/es-ES/sugar/addon/4431" target="_blank">
      <div class="overlay">
      <label>
        Explorador de Archivos para Sugar. Utilizado en toda América por OLPC.
      </label>
      </div>
      </a>
    </section>

    <section class='animated bounceInRight'>
      <img src="/assets/imgs/jamediaterminal/jamediaterminal.png" alt="Logo de JAMediaTerminal">
      <h2>JAMediaTerminal</h2>
      <a href="http://activities.sugarlabs.org/es-ES/sugar/addon/4678" target="_blank">
      <div class="overlay">
      <label>
        Terminal para sugar. Con ayuda sobre algunos comandos de bash.
      </label>
      </div>
      </a>
    </section>

    <section class='animated bounceInLeft'>
      <img src="/assets/imgs/jamediaeditor/jamediaeditor.png" alt="Logo de JAMediaEditor">
      <h2>JAMediaEditor</h2>
      <a href="http://activities.sugarlabs.org/es-ES/sugar/addon/4716" target="_blank">
      <div class="overlay">
      <label>
        Editor de código para sugar, con guias y ayuda para aprender a programar en python.
      </label>
      </div>
      </a>
    </section>

    <section class='animated bounceInUp'>
      <img src="/assets/imgs/jamediavideo/jamediavideo.png" alt="Logo de JAMediaVideo">
      <h2>JAMediaVideo</h2>
      <a href="http://activities.sugarlabs.org/es-ES/sugar/addon/4542" target="_blank">
      <div class="overlay">
      <label>
        Graba audio y video, toma fotografías, transcodifica audio y video, extrae audio de videos.
      </label>
      </div>
      </a>
    </section>

  </main>

</div>
