<div class="background container">
	<div class="col-sm-3 col-xs-3 col-md-3 col-lg-3"></div>
	<div class="col-sm-9 col-xs-9 col-md-9 col-lg-9"></div>
</div>

<div class="container-fluid">

  <div class="row animated bounceInLeft">
    <div id='home_button'><a routerLink='/home'><i class="fa fa-home fa-2x"></i></a></div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
      <img src="../../../assets/imgs/Foto_Perfil.png" alt="Foto Personal" class="animated bounceInDown">
      <div id="content-nombre">
        <p class="nombre">Flavio Danesse</p>
        <p class="programador">Docente/Programador</p>
        <p class="email">
          <i class="fa fa-envelope-square fa-1x"></i> fdanesse@gmail.com <a href="https://www.linkedin.com/in/flavio-danesse-6575b719/" target="_blank">
          <i class="fa fa-linkedin fa-1x"></i></a><a href='https://www.youtube.com/channel/UCRLDhEFG908uY-53h39CvWw' target='_blank'>
          <i class="fa fa-youtube-square fa-1x"></i></a>
        </p>
      </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-8 col-lg-9 animated bounceInDown">
      <h1>Extracto</h1>
      <h2>Desarrollo</h2>
      <p>
        Siempre estudiando, aprendiendo y experimentando con diferentes lenguajes y tecnologías de desarrollo.<br>
        Desarrollador: python, vala, C# + unity3d, java + android-studio, html, css, bootstrap, javascript, typescript, angular, firebase, C++.<br>
        Experiencia en desarrollo a distancia integrando equipos multinacionales.<br>
        Miembro de multiples comunidades de software libre. Programar me divierte.
      </p>
      <h2>Docencia</h2>
      <p>
        Docente y Asistente de Laboratorio de Informática en <a href="http://www.ces.edu.uy/" target="_blank">CES</a> y <a href="https://www.utu.edu.uy/utu/inicio.html" target="_blank">CETP</a> desde el año 2003 a la fecha.<br>
        Mentor fundador de la comunidad <a href="https://pythonjoven-c1888.firebaseapp.com" target="_blank">python_joven</a>.
      </p>
      <h2>Docencia + Desarrollo</h2>
      <p>
        Experiencia como conferencista en eventos nacionales e internacionales y tallerista en jornadas de hacking.<br>
        Instructor de <a href="https://pythonjoven-c1888.firebaseapp.com" target="_blank">python_joven</a> para concursantes en <a href="https://developers.google.com/open-source/gci/" target="_blank">google code-in</a>.
      </p>
    </div>
  </div>

  <main class="row animated bounceInRight">
    <div class="col-md-3 animated bounceInUp">
      <h1>Educación</h1>
      <h4>2017</h4>
      <p>
        Estudios sobre angular, bootstrap y firebase.
      </p>
      <h4>2016</h4>
      <p>
        Especialización en Desarrollo Java sobre android (Universidad Nacional Autónoma de México en Coursera). <a href="https://www.coursera.org/account/accomplishments/certificate/DE9J6KNGDPE4" target="_blank">verify1</a> <a href="https://www.coursera.org/account/accomplishments/certificate/XGUBLXQBS5MR" target="_blank">verify2</a> <a href="https://www.coursera.org/account/accomplishments/certificate/EXJ4UGZCDRTB" target="_blank">verify3</a><br>
        Estudios sobre html, css y javascript.
      </p>
      <h4>2015</h4>
      <p>
        Estudios sobre c# y unity3d.
      </p>
      <h4>2014</h4>
      <p>
        Diseño 3d sobre Blender (<a href="http://www.latu.org.uy/" target="_blank">LATU</a> - <a href="http://www.ceibal.edu.uy/" target="_blank">Ceibal</a>).<br>
        Estudios sobre c++.
      </p>
      <h4>2013</h4>
      <p>
        Estudios sobre vala.
      </p>
      <h4>2010</h4>
      <p>
        Taller sobre MathGraph (<a href="https://www.utu.edu.uy/utu/inicio.html" target="_blank">UTU</a>).<br>
        Taller de Robótica (<a href="http://www.latu.org.uy/" target="_blank">LATU</a> - <a href="http://www.ceibal.edu.uy/" target="_blank">Ceibal</a>).
      </p>
      <h4>2009</h4>
      <p>
        Scratch Day, taller de desarrollo (<a href="http://www.ort.edu.uy/" target="_blank">ORT</a>).
      </p>
      <h4>2008</h4>
      <p>
        Estudios sobre python.<br>
        Introducción a Java (IAC).
      </p>
      <h4>2007</h4>
      <p>
        Administración y mantenimiento de hardware y redes (IAC).
      </p>
      <h4>2004</h4>
      <p>
        Estudios sobre Linux y bash.<br>
        Profesorado de Educación Visual y Plástica. Materias Aprobadas: Sociología I, Pedagogía I, Psicología Evolutiva, Lenguaje y Comunicación, Sociología II, Psicología del aprendizaje.<br>
        Participación en "Proyecto de Intervención para la mejora de la comprensión de textos en educación primaria y media básica".
      </p>
      <h4>2003</h4>
      <p>
        Internet - Programa Conectividad Educativa <a href="http://www.anep.edu.uy/anep/" target="_blank">ANEP</a> - <a href="http://www.antel.com.uy/antel/" target="_blank">ANTEL</a>.
      </p>
      <h4>2000</h4>
      <p>
        Operador Office Profesional (Academia de ADEOM San José).<br>
        Windows, Word, Excel, Power Point, Access, Outlook Express.<br>
        Diseño Gráfico (<a href="http://www.ort.edu.uy/" target="_blank">ORT</a>)<br>
        Corel Draw, Page Maker, PhotoShop.<br>
        Estudios sobre Visual Basic.
      </p>
      <h4>1985</h4>
      <p>
        Programación en Basic (IAC).
      </p>
    </div>

    <div class="col-md-9 animated bounceInUp">
      <h1>Experiencia</h1>
      <h2>Desarrollo</h2>

      <p>
        python: 9 años.<br>
        vala: 4 años.<br>
        angular, bootstrap, firebase: 1 año.<br>
        html, css, javascript: 2 años.<br>
        c# + unity3d: 1 año.<br>
        java + android studio: 1 año.<br>
        c++: 1 año.<br>
        git: 9 años.<br>
      </p>

      <h3>Activity Central</h3>
      <h4>2010 a 2014</h4>
      <p>
        Desarrollo a distancia integrando equipos multinacionales, multilingües y de diferentes empresas.<br>
        Desarrollo de aplicaciones destinadas a <a href="http://wiki.laptop.org/go/OLPC_Australia" target="_blank">OLPC Australia</a>, <a href="https://www.sugarlabs.org/" target="_blank">SugarLabs</a> y <a href="http://www.ceibal.edu.uy/" target="_blank">Plan Ceibal</a>.<br>
        Corrección de bugs en aplicaciones de terceros.<br>
        Adaptación de aplicaciones linux de terceros al entorno <a href="https://www.sugarlabs.org/" target="_blank">Sugar</a>.<br>
        Responsable del port a gtk3 de más del 40% de las aplicaciones de <a href="https://www.sugarlabs.org/" target="_blank">Sugar</a>. <i>(Prácticamente no hay aplicación de <a href="https://www.sugarlabs.org/" target="_blank">Sugar</a> utilizada en Uruguay, Perú, Colombia y Australia que no hayan recibido alguna corrección o aporte de código de mi parte).</i><br>
        Originar, diseñar, proponer, coordinar y desarrollar nuevas aplicaciones educativas y lúdicas para los entornos anteriormente mencionados.<br>
        Participación en eventos.
      </p>

      <h3>Independiente</h3>
      <h4>2010 a la fecha</h4>
      <p>
        Desarrollo de aplicaciones y juegos para empresas y particulares relacionadas al entorno educativo y la comunidad <a href="https://www.sugarlabs.org/" target="_blank">Sugar</a>.<br>
        Desarrollo y mantenimiento de aplicaciones propias para el entorno educativo de diversos países.<br>
        Colaboración voluntaria en desarrollo y corrección de bugs de aplicaciones y juegos implementados por miembros de la comunidad <a href="https://www.sugarlabs.org/" target="_blank">Sugar</a>.
        Desde 2011 a la fecha, participación activa en las comunidades de software libre python-es, python-hackers, ubuntu Uruguay y olpc-sur.<br>
        2012 - 1º Premio en concurso <a href="http://edujam2012.blogspot.com.uy/p/premios-terron-2012.html" target="_blank">EduJAM</a> de CeibalJAM a desarrollos para la xo.
      </p>

      <h2>Docencia</h2>
        <ul>
          <li>2003 a la fecha: Docente y Asistente de Laboratorio de Informática en <a href="http://www.ces.edu.uy/" target="_blank">CES</a> y <a href="https://www.utu.edu.uy/utu/inicio.html">CETP</a>.</li>
          <li>2009 a 2014: Mentor fundador de la comunidad <a href="https://pythonjoven-c1888.firebaseapp.com" target="_blank">python_joven</a>.</li>
          <h5>Alumnos premiados por google:</h5>
            <ul>
              <li><a href="https://codein.withgoogle.com/" target="_blank">2016: google-code in (Cristian García)</a>.</li>
              <li><a href="https://codein.withgoogle.com/archive/2015/" target="_blank">2015: google-code in (Ezequiel Pereira)</a>.</li>								<li><a href="https://www.google-melange.com/archive/gci/2014" target="_blank">2014: google-code in (Ignacio Rodriguez)</a>.</li>
              <li><a href="https://www.google-melange.com/archive/gci/2013" target="_blank">2013: google-code in (Ignacio Rodriguez)</a>.</li>
              <li><a href="https://www.google-melange.com/archive/gci/2012" target="_blank">2012: google-code in (Agustín Zubiaga)</a>.</li>
            </ul>
          <li>2010: Disertante en talleres sobre Scratch para docentes <a href="http://www.ceip.edu.uy/" target="_blank">CEP</a> y <a href="http://www.ces.edu.uy/" target="_blank">CES</a>.</li>
          <li>2009: Disertante en Conferencia “Software Libre para una Educación Libre” <a href="https://www.utu.edu.uy/utu/inicio.html" target="_blank">UTU</a></li>
          <li>2009: Disertante en Conferencia “Introducción a Plan Ceibal” <a href="https://www.utu.edu.uy/utu/inicio.html" target="_blank">UTU</a></li>
          <li>2009: Disertante en Conferencia “Crisis de la Educación o Revolución Educativa”. <a href="https://www.utu.edu.uy/utu/inicio.html" target="_blank">UTU</a></li>
        </ul>

      <h2>Docencia + Desarrollo</h2>
      <p>
        2014: Jornadas de hacking y Conferencia en <a href="http://camp.laboratoriosazucar.org/" target="_blank">SugarCamp Chía Colombia</a> “La experiencia de python_joven”.<br>
        2014: Jornada de hacking en 3ª edición de “Conferencia Internacional de Software Libre y Código Abierto del Uruguay”.<br>
        2013: Participación en <a href="https://transformandoxo.wordpress.com/" target="_blank">Proyecto Transformando</a> (Agencia Nacional de Colombia para la Superación de la Pobreza Extrema).<br>
        2013: Disertante en MiniJAM de CeibalJAM.<br>
        2013: Disertante en 2ª edición de “Conferencia Internacional de Software Libre y Código Abierto del Uruguay”.<br>
        2013: Disertante en <a href="http://squeakfest2013.weebly.com/" target="_blank">Squeakfest 2013</a>.<br>
        2012: Disertante en EduJAM de CeibalJAM "De escolar a hacker".<br>
        2011: Jornadas de hacking <a href="http://www.web2py.com.ar/2011" target="_blank">Sugar day y pycon Argentina</a>.<br>
        2010: Colaboración en desarrollo del <a href="http://en.flossmanuals.net/sugar/" target="blan">manual oficial de sugar</a>.<br>
        2008: Conferencia en MiniJAM de CeibalJAM “La xo”.
      </p>

      <h2>Actividad Comunitaria</h2>
      <p>
        2008 a 2009 RAPceibal. <i>Grupo de voluntarios en apoyo al despliegue de Plan Ceibal, enseñando a maestros, niños y padres sobre el uso de Sugar y las xo.</i><br>
        2008 a 2014 CeibalJAM!. <i>Grupo de desarrolladores voluntarios, dedicado al diseño e implementación de aplicaciones libres educativas para las xo.</i><br>
        2008 a 2014 SugarLabs. <i>Comunidad de voluntarios responsables del desarrollo y mantenimiento de Sugar y sus aplicaciones a nivel Global.</i><br>
        2009 a 2014 Creador y mentor de python_joven. <i>Grupo de adolescentes a nivel nacional que aprenden y enseñan programación en base al lenguaje python.</i><br>
        2012 a la fecha python-es, python-hackers y ubuntu uruguay.
      </p>
    </div>
  </main>
</div>
<h5>
