<div class='container-fluid'>
  <div id='home_button'><a routerLink='/jamedia'><i class="fa fa-home fa-2x"></i></a></div>
  <header class='animated bounceInDown'>
    <figure [style.background-image]="'url(' + '/assets/imgs/fondos/reciclado_arrugado_azul.png' + ')'">
      <img src="/assets/imgs/jamedia/jamedia.png" alt="Logo de JAMedia">
    </figure>

    <section>
      <h1><strong>JAMedia en python</strong></h1>
      <hr>
      <ul>
        <li>Reproduce Archivos de Audio y Video</li>
        <li>Reproduce Streamings</li>
        <li>Busca Videos en youtube</li>
        <li>Descarga Videos desde youtube</li>
        <li><s>Graba desde Streamings</s> <i>(Quitado en Versión 18)</i> </li>
      </ul>
      <hr>

      <h5>Repositorio:
        <a href="https://github.com/fdanesse/jamedia-python" target="_blank"> jamedia-python</a>
      </h5>
      <h5>Instalador para Sugar:
        <a href="https://activities.sugarlabs.org/es-ES/sugar/addon/4355" target="_blank">jamedia-sugar</a>
      </h5>
    </section>

  </header>

  <main class='animated bounceInUp'>
		<section>
			<h4><strong>Bibliotecas Necesarias:</strong></h4>
			<hr>
			<ul>
				<li>python 3.6.3</li>
				<li>gtk 3.0</li>
        <li>gstreamer 1.0</li>
        <li>webkit 4.0</li>
				<hr>
				<li>gstreamer1.0-plugins-base</li>
        <li>gstreamer1.0-plugins-good</li>
				<li>gstreamer1.0-plugins-ugly</li>
				<li>gstreamer1.0-libav</li>
				<li>gstreamer1.0-tools</li>
				<hr>
			</ul>
		</section>

		<section>
			<h4><strong>Guia de Instalación:</strong></h4>
			<hr>
			<h6><strong>Descarga:</strong></h6>
			<ul>
				<li>Descarga el archivo deb desde el repositorio</li>
			</ul>
			<hr>
			<h6><strong>Instalación:</strong></h6>
				<ul>
					<li>Hazle doble click al archivo descargado</li>
				</ul>
		<hr>
		</section>

		<section>
		<h4><strong>Para Desinstalar:</strong></h4>
			<hr>
				<ul>
					<li>Ejecuta: "sudo apt-get remove jamedia"</li>
				</ul>
			<hr>
		</section>
  </main>

</div>
