<div class='container-fluid'>
  <div id='home_button'><a routerLink='/jamedia'><i class="fa fa-home fa-2x"></i></a></div>
  <header class='animated bounceInDown'>
    <figure [style.background-image]="'url(' + '/assets/imgs/fondos/reciclado_arrugado_azul.png' + ')'">
      <img src="/assets/imgs/jamedia/jamedia.png" alt="Logo de JAMedia">
    </figure>

    <section>
      <h1><strong>JAMedia en python</strong></h1>
      <hr>
      <ul>
        <li>Reproductor de Archivos de Audio y Video.</li>
        <li>Reproductor de Streamings de radios.</li>
        <li>Buscador masivo de videos en youtube.</li>
        <li>Descarga masiva de videos desde youtube.</li>
        <li>Extractor masivo de audio e imágenes desde archivos de videos.</li>
        <li>Conversor masivo de archivos de audio y video a diversos formatos.</li>
      </ul>
      <hr>

      <h5>Repositorio:
        <a href="https://github.com/fdanesse/jamedia-python" target="_blank"> jamedia-python</a>
      </h5>
      <!--
      <h5>Instalador para Sugar:
        <a href="https://activities.sugarlabs.org/es-ES/sugar/addon/4355" target="_blank">jamedia-sugar</a>
      </h5>
      -->
    </section>

  </header>

  <main class='animated bounceInUp'>
		<section class='col-md-3'>
			<h4><strong>Bibliotecas Necesarias:</strong></h4>
			<hr>
			<ul>
				<li>python 3.6.3</li>
				<li>gtk 3.0</li>
        <li>gstreamer 1.0</li>
        <li>webkit 2-4.0</li>
        <hr>
        <li>gstreamer1.0</li>
				<li>gstreamer1.0-plugins-base</li>
        <li>gstreamer1.0-plugins-good</li>
        <li>gstreamer1.0-plugins-bad</li>
				<li>gstreamer1.0-plugins-ugly</li>
				<li>gstreamer1.0-libav</li>
        <li>gstreamer1.0-tools</li>
        <li>gir1.2-webkit2-4.0</li>
				<hr>
			</ul>
		</section>

		<section>
			<h4><strong>Guia de Instalación:</strong></h4>
      <hr>
      <h6><strong>Instala las librerías:</strong></h6>
			<ul>
				<li>En la terminal Ejecuta: sudo apt-get install gstreamer1.0 gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools gir1.2-webkit2-4.0</li>
			</ul>
			<hr>
			<h6><strong>Descarga JAMedia:</strong></h6>
			<ul>
				<li>Descarga el archivo deb desde el repositorio</li>
			</ul>
			<hr>
			<h6><strong>Instalación:</strong></h6>
				<ul>
					<li>Hazle doble click al archivo descargado</li>
				</ul>
		  <hr>
		</section>

		<section>
		<h4><strong>Para Desinstalar:</strong></h4>
			<hr>
				<ul>
					<li>Ejecuta: "sudo apt-get remove jamedia"</li>
				</ul>
			<hr>
		</section>
  </main>

</div>
