<div class='container-fluid'>

<nav class='row animated bounceInDown' id='navbarLenguajes'>
  <a class="navbar-brand" routerLink="/home"><i class="fa fa-home fa-2x"></i></a>
  <a *ngFor='let lenguaje of lenguajes' (click)='lenguajeSelected($event)'>
      <strong>{{lenguaje}}</strong></a>
</nav>

<div class='row main'>
  <nav class='col-md-3' id='navbarTemas' *ngIf='currentTemas'>
    <a *ngFor='let t of currentTemas' (click)='leccionSelected($event)'>
      <strong>{{t.Titulo}}</strong></a>
  </nav>

  <div class='col-md-9' id="lessonContainer" *ngIf='currentLesson'>
    <!-- <pre><code mwlHighlightJs [source]="source" language="typescript"></code></pre> -->
    <!-- <pre>{{currentLesson}}</pre> -->

    <h6><a href={{pdfURL}} target='_blank'>Abrir en otra pestaña</a></h6>

    <div *ngIf="isLoaded" style="text-align: center;">
      <h3>{{titulo}}</h3>
      <button class="btn btn-primary" (click)="prevPage()" [disabled]="page === 1">Prev</button>
      <span>{{ page }} / {{ totalPages }}</span>
      <button class="btn btn-primary" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>

    <div *ngIf="!isLoaded" style="text-align: center;">
      <h1>Cargando...</h1>
    </div>

    <pdf-viewer [hidden]="!isLoaded" [src]='pdfURL' [show-all]="false" [page]="page"
      (after-load-complete)="afterLoadComplete($event)" [original-size]="false"
      [fit-to-page]="true" [render-text]="true" [external-link-target]="'blank'"
      (on-progress)="onProgress($event)"></pdf-viewer>
  </div>
</div>

</div>
