html, body, main {
  background-color: rgb(96,96,96);
  min-height: 100vh;
}

.container-fluid {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  margin: 0;
  background-color: rgb(96,96,96);
}

.main {
  min-height: 100vh;
  background-color: rgb(96,96,96);
}

a, a:link, a:visited, a:active, a:focus{
  text-decoration: none;
}
a {
  color: white !important;
  padding: 5px;
  font-size: 1.2em;
}
a:hover {
  color:orange !important;
  cursor: pointer;
  transition: 0.2s;
}

.selected {
  color:orange !important;
}

nav {
  /*min-width: 100%;*/
  padding: 10px;
  background-color: black;
}

#navbarLenguajes {
  padding-right: 100px;
}

#navbarTemas {
  display: -webkit-flex !important;
	display: flex !important;
	-webkit-flex-direction: column !important;
  flex-direction: column !important;
	-webkit-justify-content: left !important;
  justify-content: left !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  background-color: rgb(96,96,96);
  margin-top: 3px;
  display: block;
  visibility: visible;
  /*
  opacity: 1;
  animation: fade 1s;
  */
}
#navbarTemas a {
  font-size: 0.9em;
  opacity: 1;
  animation: fade 1s;
}
#lessonContainer, pdf-viewer {
  color: white;
  background-color: rgb(192,192,192);
  margin-top: 3px;
  padding: 5px;

  display: block;
  visibility: visible;
  opacity: 1;
  animation: fade 1s;
  -webkit-animation: fade 1s;
  -moz-animation: fade 1s;
}

h6 {
  text-align: center;
  margin: auto;
}

h3, h1, span {
  color: black;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
