<app-login id="login" (closeEvent)='toggleLoginActive()'></app-login>
<div id='loginbox'>
  <button class='buttonlogin animated bounceInDown' (click)="toggleLoginActive()" *ngIf='!userlogged.providerId'>Log-in</button>
  <button class='buttonlogin animated bounceInDown' (click)="logout()" *ngIf='userlogged.providerId'>Log-out</button>
</div>
<a *ngIf='userlogged.photoURL' routerLink='/perfil'><img class="rounded-circle animated bounceInDown" src="{{userlogged.photoURL}}" data-toggle="tooltip" data-placement="top" title="Editar Perfil"></a>
<!--<pre>{{ userlogged | json }}</pre>-->
<router-outlet></router-outlet>
