app-welcome {
  position: fixed;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.rounded-circle{
  position: absolute;
  display: block;
  z-index: 2;
  top: 50px;
  right: 30px;
  width: 34px;
  height: 34px;
  border: 0.15em white solid;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
  transition: width 0.5s, height 0.5s, border-color 0.5s;
}
.rounded-circle:hover{
  width: 40px;
  height: 40px;
  border: none;
}

/* Botones para login */
#loginbox {
  position: absolute;
  margin:0;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 1;
}
.buttonlogin {
  margin: 5px;
  color: white;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
  background-color: rgba(255,255,255, 0.2);
  border: 0.1em rgba(255,255,255, 0.2) solid;
  border-radius: 8%;
  transition: color 0.3s;
  animation-name: alert_anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.buttonlogin:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0.08em 0.08em 0.08em rgba(255, 255, 255, 0.8),
    -0.08em -0.08em 0.08em rgba(255, 255, 255, 0.8),
    0.08em -0.08em 0.08em rgba(255, 255, 255, 0.8),
    -0.08em 0.08em 0.08em rgba(255, 255, 255, 0.8);
  cursor: pointer;
  animation: none;
}

/* widget para login */
app-login {
  position: fixed;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

/* https://www.w3schools.com/css/css3_animations.asp */
@keyframes in {
  0%   {
    display: inline;
    opacity: 0.0;
    top: 150%;
  }
  100%  {
    top: 50%;
    opacity: 1.0;
  }
}

@-moz-keyframes in {
  0%   {
    display: inline;
    opacity: 0.0;
    top: 150%;
  }
  100%  {
    top: 50%;
    opacity: 1.0;
  }
}

@-webkit-keyframes in {
  0%   {
    display: inline;
    opacity: 0.0;
    top: 150%;
  }
  100%  {
    top: 50%;
    opacity: 1.0;
  }
}

@keyframes out {
  0%   {
    top: 50%;
    opacity: 1.0;
  }
  100%  {
    top: -50%;
    opacity: 0.0;
    display: none;
  }
}

@-moz-keyframes out {
  0%   {
    top: 50%;
    opacity: 1.0;
  }
  100%  {
    top: -50%;
    opacity: 0.0;
    display: none;
  }
}
@-webkit-keyframes out {
  0%   {
    top: 50%;
    opacity: 1.0;
  }
  100%  {
    top: -50%;
    opacity: 0.0;
    display: none;
  }
}

@keyframes alert_anim {
  0% {
    color: white;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    background-color: rgba(255,255,255, 0.2);
  }
  50% {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.08em 0.08em 0.08em rgba(255, 255, 255, 0.8),
      -0.08em -0.08em 0.08em rgba(255, 255, 255, 0.8),
      0.08em -0.08em 0.08em rgba(255, 255, 255, 0.8),
      -0.08em 0.08em 0.08em rgba(255, 255, 255, 0.8);
  }
  100% {
    color: white;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    background-color: rgba(255,255,255, 0.2);
  }
}
