<app-login id="login" (closeEvent)='toggleLoginActive()'></app-login>
<div *ngIf='homebutton' id='home_button'><a routerLink='/home'><i class="fa fa-home fa-2x animated bounceInDown"></i></a></div>
<div id='loginbox' *ngIf='perfilbutton' class='animated bounceInDown'>
  <button class='buttonlogin' (click)="toggleLoginActive()" *ngIf='!userlogged.providerId'>Log-in</button>
  <button class='buttonlogin' (click)="logout()" *ngIf='userlogged.providerId'>Log-out</button>
</div>
<app-welcome id="welcome" (closeEvent)='welcome()' [user]=userlogged></app-welcome>

<a *ngIf='userlogged.photoURL && perfilbutton' routerLink='/perfil'><img class="rounded-circle animated bounceInDown" src="{{userlogged.photoURL}}" data-toggle="tooltip" data-placement="top" title="Editar Perfil"></a>
<!--<pre>{{ userlogged | json }}</pre>-->
<router-outlet (activate)="onComponentChange($event)"></router-outlet>
