/* estructura del Widget de login */
.card {
  display: inline-block;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.9);
  background-color: transparent;
  border: 0.1em solid white;
}

.card-header {
  background-color: black;
  color: white;
}

.card-body {
  padding: 10px;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Boton close */
span {
  margin-top: 5px;
  margin-right: 8px;
}
.fa-window-close {
  background-color: #3E2723;
  color: #D7CCC8;
}
.fa-window-close:hover {
  color: white;
  cursor: pointer;
}

/* botones de login */
button{
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  text-align: left;
  cursor: pointer;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.btn-google{
  background: rgba(102, 59, 42, 1);
}
.btn-google:hover:enabled {
  background: #d62d20;
  cursor: pointer;
}

.btn-facebook{
  background: rgba(102, 59, 42, 1);
}
.btn-facebook:hover:enabled {
  background: #3b5998;
  cursor: pointer;
}

.btn-twitter{
  background: rgba(102, 59, 42, 1);
}
.btn-twitter:hover:enabled {
  background: #0084b4;
  cursor: pointer;
}

@media print{
  .no-print, .no-print *{
    display: none !important;
  }
}

/*
https://material.io/guidelines/style/color.html#color-color-palette
*/

/*
google
#008744	(0,135,68)
#0057e7	(0,87,231)
#d62d20	(214,45,32)
#ffa700	(255,167,0)
*/
/*
facebook
#3b5998	(59,89,152)
#8b9dc3	(139,157,195)
#dfe3ee	(223,227,238)
#f7f7f7	(247,247,247)
*/
/*
Twitter Dark Blue
Hex: #0084b4
RGB: 0, 132, 180
182-twitter-blue	Twitter Logo Blue
Hex: #00aced
RGB: 0, 172, 237
292-twitter-verified-blue	Twitter Verified Blue
Hex: #1dcaff
RGB: 29, 202, 255
292-twitter-background-blue	Twitter Background Blue
Hex: #c0deed
RGB: 192, 222, 237
*/
