html, body {
    /*background-color: rgb(96,96,96);*/
    /*min-height: 100vh;*/
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .fa {
    color: black;
  }
  .fa:hover,.fa:hover {
    cursor: pointer;
    color: white;
    text-shadow: 0.025em 0.025em 0.025em black !important;
  }

  nav {
    background-color: #26A69A;
    padding: 5px;
    padding-left: 15px;
  }

.container-fluid {
    width: 100%;
    /*min-height: 100vh;*/
    padding: 5px;
    margin: 0;
    /*background-color: rgb(96,96,96);*/
  }
  
.row {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    /*-webkit-justify-content: center;
    justify-content: center;*/
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.menu {
    background-color: #B2DFDB;
    border:1px solid #004D40;
    padding: 10px;
    margin: 5px;
    margin-left: 15px;
}

a, a:link, a:visited, a:active, a:focus{
    text-decoration: none;
  }
a {
    /*padding: 5px !important;*/
    /*margin: 0px !important;*/
    /*font-size: 1.2em;*/
}
a:hover {
    color:blue !important;
    cursor: pointer;
    transition: 0.2s;
}
