<div class='container-fluid'>
  <nav class='row animated bounceInDown' id='navbarLenguajes'>
    <a class="navbar-brand" routerLink="/home"><i class="fa fa-home fa-2x"></i></a>
    <a class="navbar-brand" (click)='closeArticulo()' *ngIf=articuloVisible><i class="fa fa-arrow-left fa-2x"></i></a>
  </nav>

  <div class='row' *ngIf=!articuloVisible>
    <div class='menu' *ngFor='let m of menu'>
      <!-- FIXME: Imagen -->
      <h1>{{m.key}}</h1> <!--<pre>{{ m.value | json }}</pre>-->
      <ul> <a *ngFor='let item of m.value' (click)='articuloSelected(m.key, $event)'><li>{{item.titulo}}</li></a> </ul>
    </div>
  </div>

  <app-articulo id="articulo" [articulo]=currentArticulo *ngIf=articuloVisible animated bounceInUp></app-articulo>
</div>
